<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeekCodingChallenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A525EB91CE6D73200FA5AA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A525ED01CE6D73200FA5AA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A525EDB1CE6D73200FA5AA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
